@import "./normalize.scss";
@import "./modules/media.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;

  .container{
    color: #222;
  }
}
*{
  box-sizing: border-box;
}

*, div{
  border: 1px solid red;
}

.main{
  width: 100%;
}
