html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

@media (max-width: 480px), (min-width: 481px) and (max-width: 650px) {
  .player hr {
    margin-bottom: 0.938em;
    border: none;
    height: 0.063em;
    background-color: #e5e5e5; }
  .player .video-clip {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1.875em;
    height: 0;
    overflow: hidden; }
    .player .video-clip iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .player .player-text {
    padding: 1.000em; }
    .player .player-text h1 {
      font-size: 18px;
      font-weight: normal; }
    .player .player-text .text-wrapper {
      display: flex;
      justify-content: space-between; }
      .player .player-text .text-wrapper .channel {
        font-size: 14px;
        margin: 0.571em 0 0.429em 0; }
      .player .player-text .text-wrapper .drop {
        margin-top: 0.688em;
        width: 0;
        height: 0;
        border-left: 0.500em solid transparent;
        border-right: 0.500em solid transparent; }
      .player .player-text .text-wrapper .down {
        border-top: 0.500em solid #222;
        border-bottom: none; }
      .player .player-text .text-wrapper .up {
        border-top: none;
        border-bottom: 0.500em solid #222; }
    .player .player-text .descr {
      font-size: 14px;
      padding: 0.714em 0;
      color: #767676; }
    .player .player-text .hide {
      display: none; }
    .player .player-text .show {
      display: inline-block; } }

@media (min-width: 651px) and (max-width: 1025px) {
  .player hr {
    margin-bottom: 0.938em;
    border: none;
    height: 0.063em;
    background-color: #e5e5e5; }
  .player iframe {
    width: 100%;
    height: 28.750em; }
  .player .player-text {
    padding: 1.000em; }
    .player .player-text h1 {
      font-size: 18px;
      font-weight: normal; }
    .player .player-text .text-wrapper {
      display: flex;
      justify-content: space-between; }
      .player .player-text .text-wrapper .channel {
        font-size: 14px;
        margin: 0.571em 0 0.429em 0; }
      .player .player-text .text-wrapper .drop {
        margin-top: 0.688em;
        width: 0;
        height: 0;
        border-left: 0.500em solid transparent;
        border-right: 0.500em solid transparent; }
      .player .player-text .text-wrapper .down {
        border-top: 0.500em solid #222;
        border-bottom: none; }
      .player .player-text .text-wrapper .up {
        border-top: none;
        border-bottom: 0.500em solid #222; }
    .player .player-text .descr {
      font-size: 14px;
      padding: 0.714em 0;
      color: #767676; }
    .player .player-text .hide {
      display: none; }
    .player .player-text .show {
      display: inline-block; } }

@media (min-width: 1026px) {
  .container {
    width: 70%;
    padding-top: 0.313em;
    margin: auto;
    display: flex; }
    .container .player {
      padding: 0 0.625em; }
      .container .player hr {
        margin-bottom: 0.938em;
        border: none;
        height: 0.063em;
        background-color: #e5e5e5; }
      .container .player iframe {
        width: 53.125em;
        height: 30.000em; }
      .container .player .player-text {
        padding: 1.000em;
        padding-left: 0; }
        .container .player .player-text h1 {
          font-size: 18px;
          font-weight: normal; }
        .container .player .player-text .text-wrapper {
          display: flex;
          justify-content: space-between; }
          .container .player .player-text .text-wrapper .channel {
            font-size: 14px;
            margin: 0.571em 0 0.429em 0; }
          .container .player .player-text .text-wrapper .drop {
            margin-top: 0.688em;
            width: 0;
            height: 0;
            border-left: 0.500em solid transparent;
            border-right: 0.500em solid transparent;
            cursor: pointer; }
          .container .player .player-text .text-wrapper .down {
            border-top: 0.500em solid #222;
            border-bottom: none; }
          .container .player .player-text .text-wrapper .up {
            border-top: none;
            border-bottom: 0.500em solid #222; }
        .container .player .player-text .descr {
          font-size: 14px;
          padding: 0.714em 0;
          color: #767676; }
        .container .player .player-text .hide {
          display: none; }
        .container .player .player-text .show {
          display: inline-block; } }
